/* styles.css */

body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFD700;
    color: #333;
    font-size: 18px;
    margin-bottom: 80px; /* Adjust the value based on the height of your footer */

}

header {
    background-color: #1a1e26;
    padding: 1em;
    text-align: center;
    position: relative;
}

.menu-icon {
    cursor: pointer;
    font-size: 1.5em;
    color: #fff;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger {
    width: 25px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
}

.menu-text {
    color: #fff;
    font-size: 0.6em;
    margin-top: 4.2px;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #1a1e26;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
    display: none;
}

nav.show {
    display: flex;
}

ul {
    list-style-type: none;
    padding: 0;
    /* Adjust to vertical layout */
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    font-size: 1.2em;
}

a:hover {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.content {
    text-align: left;
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;

}

h1, h2, h3 {
    text-align: center; /* Center-align headers */
    font-family: 'Papyrus', sans-serif;
    color: #1a1e26;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}
p {
    text-align: left; /* Left-align paragraphs */
    font-family: 'Helvetica', sans-serif;/* Use Helvetica font for paragraphs */
}
footer {
    background-color: #1a1e26;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1em;
}

@media only screen and (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    nav {
        flex-direction: column;
    }

    nav ul.show {
        position: static;
        background-color: #1a1e26;
    }

    nav li {
        margin: 10px 0;
    }

    /* Adjustments for smaller header image on mobile */
    img {
        max-width: 65%;
    }
}

/* Founders Section */
.founders-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.founder {
    text-align: center;
    margin-bottom: 30px;
}

.founder img {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* style.css */

/* Existing styles */

.faq-section {
  margin-top: 30px;
}

.question {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

.answer {
  display: none;
  margin-bottom: 20px;
}

.answer.show {
  display: block;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #1a1e26;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #333;
}
