body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFD700; /* Yellow background */
    color: #333; /* Dark text for better contrast */
    font-size: 18px; /* Base font size */
}

header {
    background-color: #1a1e26; /* Darker header background */
    padding: 1em;
    text-align: center;
}

nav {
    margin-top: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 1em;
}

a {
    text-decoration: none;
    color: #fff; /* White link text */
    transition: color 0.3s ease; /* Smooth color transition on hover */
    font-size: 1.2em; /* Larger font size for links */
}

a:hover {
    color: #333; /* Dark text on hover for better visibility */
}

img {
    max-width: 100%;
    height: auto;
    display: block; /* Center the image */
    margin: 0 auto;
}

.content {
    text-align: center;
    padding: 2em;
    max-width: 800px; /* Set a maximum width for content */
    margin: 0 auto; /* Center the content horizontally */
}

h1, h2, h3 {
    font-family: 'Papyrus', sans-serif;
    color: #1a1e26; /* Darker title text for contrast */
}

h1 {
    font-size: 2.5em; /* Larger font size for h1 */
}

h2 {
    font-size: 2em; /* Larger font size for h2 */
}
h3 {
    font-size: 1.7em; /* Larger font size for h3 */
}


footer {
    background-color: #1a1e26;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1.2em; /* Larger font size for footer text */
}


        /* Additional styles for the FAQ section */
        .faq-section {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .question {
            cursor: pointer;
            padding: 10px;
            margin: 5px 0;
            background-color: #1a1e26;
            color: #fff;
            border: none;
            text-align: left;
            width: 100%;
        }

        .answer {
            display: none;
            padding: 10px;
            background-color: #333;
            color: #fff;
        }

        /* Additional styles for the FAQ section and other styles as needed */
        .founders-section {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .founder {
            text-align: center;
            margin-bottom: 30px;
        }

       .founder img {
            max-width: 50%; /* Set the image size to 50% of its original size */
            height: auto;
            border-radius: 50%;
            margin-bottom: 10px;
        }
     
